################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement.Services/obj
/TaskManagement.Services/bin/Debug/net9.0
/TaskManagement.Models/bin/Debug/net9.0
/TaskManagement/.vs/TaskManagement
/TaskManagement/bin/Debug/net9.0
/TaskManagement/obj
/TaskManagement.Models/obj
